h1, p {
  font-family: Lato;
}


html {
  /* The image used */
  background-image: url('https://t4.ftcdn.net/jpg/02/59/38/19/360_F_259381930_dtHx7LYQwMBcpljvRqGxWl4fTgzm4JIY.jpg');
  /* Full height */
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  padding-left: 10px;
  padding-right: 10px;
}

.placeholder-plain {
  
  width: 175px;
  height: 225px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('https://stackblitz.com/files/react-irx9rm/github/aidenspro/react-irx9rm/master/src/Components/images/cardBack.jpg');
}

.active {
  width: 175px;
  height: 225px;
  cursor: zoom-in;
  border: 3px solid #fafd12;
}


.randomcards{
  resize: both;
  display: inline-grid;
  grid-template-columns: 170px 170px 170px 170px 170px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  width: fit-content;
  padding: 15px;
  border: 5px solid;
  background-color: rgb(39, 41, 128);
  border-radius: 25px 25px 0px  0px;;
}

.draftedcardsheader{
  font-size: large;
  text-align: center;
  display: inline-grid;
  grid-template-columns: 170px 170px 170px 170px 170px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: fit-content;
  height: 20px;
  padding: 10px;
  border-left: 5px solid;
  border-right: 5px solid;
  background-color: rgb(70, 71, 170);
}
.draftedcardsheadercolumn{
  border-right: 5px solid;
  border-left: 5px solid;
}

.draftedcards{
  text-align: center;
  display: inline-grid;
  grid-template-columns: 173px 173px 173px 173px 174px;
  grid-column-gap: 10px;
  height: fit-content;
  min-height: 300px;
  width: fit-content;
  padding: 2px;
  border: 5px solid;
  background-color: rgb(70, 71, 170);
  
}

.draftedcardscolumn{
  text-align: center;
  min-height: 300px;
  resize: both;
  display: inline-grid;
  grid-template-rows: 20px;
  width: 100%;
  background-color: rgb(70, 71, 170); 
}

.preview{
  float: left;
  position: absolute;
  text-align: center;
  resize: both;
  width: 100%;
  Height: fit-content;
  border: 2px solid;
  background-color: rgb(202, 202, 211); 
  border-radius: 5px 5px 5px  5px;
}

.monster-preview{
  float: left;
  position: relative;
  text-align: center;
  resize: both;
  width: 100%;
  Height: fit-content;
  border: 2px solid;
  background-color: rgb(167, 101, 101); 
  border-radius: 5px 5px 5px  5px;
}
.spell-preview{
  position: relative;
  text-align: center;
  resize: both;
  width: 100%;
  Height: fit-content;
  border: 2px solid;
  background-color: rgb(30, 152, 168); 
  border-radius: 5px 5px 5px  5px;
}
.trap-preview{
  position: relative;
  text-align: center;
  resize: both;
  width: 100%;
  Height: fit-content;
  border: 2px solid;
  background-color: rgb(143, 22, 123); 
  border-radius: 5px 5px 5px  5px;
}
.extra-preview{
  position: relative;
  text-align: center;
  resize: both;
  width: 100%;
  Height: fit-content;
  border: 2px solid;
  background-color: rgb(83, 83, 100); 
  border-radius: 5px 5px 5px  5px;
}


.grid{
  width: 175px;
  height: 225px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: inherit;
  background-image: url('https://stackblitz.com/files/react-irx9rm/github/aidenspro/react-irx9rm/master/src/Components/images/cardBack.jpg');
  order: 0;
}


.cardInspector{
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  width:25%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cardInspectorHidden{
  visibility: hidden;
  position: fixed;
  left: -1000px;
  top: -1000px;
  z-index: -5;
  width:25%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.inspectHeader{
  background-color: rgb(186, 204, 204);
}
.inspectBody{
  background-color: aqua;
}


