h1, p {
  font-family: Lato;
}


html {
  /* The image used */
  
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(61, 61, 61);
  margin: 0%;

}

.placeholder-plain-smaller:hover{
  transition: transform .5s ease-in-out; /* Animation */
  transform: scale(3.5) translateX(-23px) translatey(34px);
}

.divborder{
  height: 200px;
  width: 150px;
  border: 10px red;
}

.placeholder-plain {
  height: 256px;
  width: 206px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('https://stackblitz.com/files/react-irx9rm/github/aidenspro/react-irx9rm/master/src/Components/images/cardBack.jpg');

}
.placeholder-plain-start {
  height: 250px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('https://stackblitz.com/files/react-irx9rm/github/aidenspro/react-irx9rm/master/src/Components/images/cardBack.jpg');

}

.placeholder-plain-smaller{
  height: 100%;
  width:100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('https://stackblitz.com/files/react-irx9rm/github/aidenspro/react-irx9rm/master/src/Components/images/cardBack.jpg');

}


.active {
  height: 250px;
  width: 200px;
  z-index: 3;
  cursor: zoom-in;
  border: 3px solid #f8ff6c;
}



.preview{
  float: left;
  position: absolute;
  text-align: center;
  border-top: 4px solid;
  border-bottom: 1px solid;
  width: 100%;
  Height: fit-content;
  background-color: rgb(202, 202, 211); 
}

.monster-preview{
  float: left;
  position: relative;
  text-align: center;
  border: 2px solid white;
  background-color: rgb(202, 87, 87); 
  width: 100%;
}
.spell-preview{
  position: relative;
  text-align: center;
  border: 2px solid white;
  background-color: rgb(30, 152, 168); 
 
  width: 100%;
}
.trap-preview{
  position: relative;
  text-align: center;
  border: 2px solid white;
  background-color: rgb(143, 22, 123); 
 
  width: 100%;
}

.extra-preview{
  position: relative;
  text-align: center;
  border: 2px solid white;
  background-color: rgb(83, 83, 100); 
 
  width: 100%;
}


.cardInspector{
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  width:25%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: visibility 0s .10s, opacity 1s linear;
}
.cardInspectorHidden{
  visibility: hidden;
  position: fixed;
  z-index: -5;
  width:25%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  
}

.inspectHeader{
  text-align: center;
  white-space: pre-wrap;
  background-color: rgb(186, 204, 204);
  border-radius: 7px 7px 0px  0px;
}
.inspectBody{
  text-align: center;
  white-space: pre-wrap;
  background-color: aqua;
  border-radius: 0px 0px 7px  7px;
}
.test{
  position: absolute;
  width: 100%;
  height: 35%;
  border: 5px black;
  
  
  background-color: rgb(186, 204, 204);
  z-index: 20;
  text-align: center;
  background-image: url('https://stackblitz.com/files/react-26cvwe/github/aidenspro/Yu-Gi-Oh-Draft-take-2/master/src/components/cardbackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  
}
.test-hidden{
  position: absolute;
  width: 100%;
  height: 30%;
  border: 5px black;
  
  background-color: rgb(186, 204, 204);
  z-index: 20;
  text-align: center;
  background-image: url('https://stackblitz.com/files/react-26cvwe/github/aidenspro/Yu-Gi-Oh-Draft-take-2/master/src/components/cardbackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s linear, opacity 2s linear;
  grid-area: randomcards;
}



@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeOutOpacity {
	100% {
		opacity: 1;
	}
	0% {
		opacity: 0;
	}
}
@keyframes expand {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.draftfont {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 32px;
  letter-spacing: -2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
  }

.counter{
  text-align: center;
  
}

.fakebutton{
  border: 5px solid #000000;
  background-color: #199319;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
}

.footer { grid-area: footer; 
visibility: hidden;
}

.draftedcards { grid-area: draftedcards; }

/* #-------------Grid Stuff---------------------- */
.allCards { 
  position: fixed;
  margin-left: 85%;
  margin-bottom: 0%;
  z-index: 1;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  width: 15%;
  right: 0%;
  top: 0px;

}
.container{
  position: fixed;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 20%;
  
}


.randomcards-hidden{

  max-height: 100%;
  max-width: 100%;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . ."; 
  grid-area: randomcards; 
  visibility: hidden;
  opacity: 0;
}
.randomcards{
  max-height: 100%;
  max-width: 100%;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . ."; 
  grid-area: randomcards; 
  border: 5px solid royalblue;
  
  visibility: visible;
  opacity: 1;
	transition:visibility 0s 1.5s,opacity 1s linear;
}

.randomcards:hover{
  overflow-x: scroll;
}

.draftheaders{
  
  text-align: center;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . ."; 
  grid-area: draftheaders;
  border: 5px solid royalblue;
  background-color: rgb(255, 255, 255);

}

.draftedcards{
  
  min-height: 400px;
  text-align: center;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 0.2fr 1.8fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "draftheaders"
    ". . . ."; 
  grid-area: draftedcards; 
  
  
}
/* #-------------Grid Stuff---------------------- */