h1, p {
  font-family: Lato;
}


html {
  /* The image used */
  background-image: url('https://t4.ftcdn.net/jpg/02/59/38/19/360_F_259381930_dtHx7LYQwMBcpljvRqGxWl4fTgzm4JIY.jpg');
  /* Full height */
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
}

.placeholder-plain {
  width: 181px;
  height: 231px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('https://stackblitz.com/files/react-irx9rm/github/aidenspro/react-irx9rm/master/src/Components/images/cardBack.jpg');
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.placeholder-plain-nofade {
  width: 181px;
  height: 231px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('https://stackblitz.com/files/react-irx9rm/github/aidenspro/react-irx9rm/master/src/Components/images/cardBack.jpg');
}

.active {
  width: 175px;
  height: 225px;
  cursor: zoom-in;
  border: 3px solid #fafd12;
}

.holder{
    margin-left:20%;
    margin-top:10%;
    display: inline-grid;
    grid-row-gap: 15px;
    width: fit-content;
    padding: 15px;
    border: 5px solid;
    background-color: rgb(39, 41, 128);
    height:30%;
    visibility: visible;
 }

 .bigpreview{
  margin-left:0%;
  margin-top:10%;
  background-image: url('https://stackblitz.com/files/react-irx9rm/github/aidenspro/react-irx9rm/master/src/Components/images/cardBack.jpg');
  width:100%;
  height: 100%;
 }



.randomcards{
  resize: both;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  width: inherit;
  background-color: rgb(39, 41, 128);
 
}

.draftedcardsheader{
  font-size: large;
  text-align: center;
  display: inline-grid;
  grid-template-columns: 20% 19% 18% 19% 20% ;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: auto;
  height: 20px;
  
  background-color: rgb(70, 71, 170);
}

.draftedcards{
  text-align: center;
  display: inline-grid;
  grid-template-columns: 20% 20% 20% 20% 20% ;
  
  height: fit-content;
  min-height: 300px;

  background-color: rgb(70, 71, 170);
  
}

.draftedcardscolumn{
  text-align: center;
  min-height: 300px;
  width: inherit;

  background-color: rgb(70, 71, 170);

}

.preview{
  float: left;
  position: absolute;
  text-align: center;
  
  width: 100%;
  Height: fit-content;
  background-color: rgb(202, 202, 211); 
  border-radius: 7px 7px 7px  7px;;
}

.monster-preview{
  float: left;
  position: relative;
  text-align: center;

  width: 100%;
  Height: fit-content;
  background-color: rgb(167, 101, 101); 
  border-radius: 7px 7px 7px  7px;
}
.spell-preview{
  position: relative;
  text-align: center;
  border-top: 4px solid;
  border-bottom: 1px solid;
  width: 100%;
  Height: fit-content;
  
  background-color: rgb(30, 152, 168); 
  border-radius: 7px 7px 7px  7px;
}
.trap-preview{
  position: relative;
  text-align: center;

  width: 100%;
  Height: fit-content;
  
  background-color: rgb(143, 22, 123); 
  border-radius: 7px 7px 7px  7px;
}

.extra-preview{
  position: relative;
  text-align: center;
  resize: both;
  width: 100%;
  Height: fit-content;
  
  background-color: rgb(83, 83, 100); 
  border-radius: 7px 7px 7px  7px;
}


.cardInspector{
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  width:25%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cardInspectorHidden{
  visibility: hidden;
  position: fixed;
  left: -1000px;
  top: -1000px;
  z-index: -5;
  width:25%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.inspectHeader{
  white-space: pre-wrap;
  background-color: rgb(186, 204, 204);
  border-radius: 7px 7px 0px  0px;
}
.inspectBody{
  white-space: pre-wrap;
  background-color: aqua;
  border-radius: 0px 0px 7px  7px;
}
.test{
  position:absolute;
  background-color: rgb(186, 204, 204);
  z-index: 20;
  width: 945px;
  height: 231px;
  text-align: center;
  
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes expand {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


